﻿@using PagedList;
@using PagedList.Mvc;
@model HelpDesk.ViewModels.PagedTicketViewModel

@{
    ViewBag.Title = "All Tickets";


}

<div id="ticketTableWrapper">
    <h3>@Model.FirstTicketNr - @Model.LastTicketNr / @Model.TotalTicketCount Ticket(s)</h3>
    <table class="table table-hover">
        <tr>
            <th>Description</th>
            <th>Due Date</th>
            <th>Entry Date</th>
            <th>Solved?</th>
        </tr>
        <tbody>

        @foreach (var ticketVM in Model.TicketViewModelList )
        {
            <tr class="@ticketVM.CssClassName">
                <td>
                    @ticketVM.Description
                    </td>
                <td>
                    @ticketVM.DueDate
                </td>
                <td>
                    @ticketVM.EntryDate
                </td>
                <td>
                    @if (ticketVM.Solved){
                        <span class="glyphicon glyphicon-ok text-success"></span>
                    }
                </td>
            </tr>
        
        }
    </table>
    @Html.PagedListPager(Model.TicketViewModelList, page => Url.Action("All", new { page }))
</div>