﻿@model List<HelpDesk.ViewModels.TicketViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
     <h3>Add a ticket</h3>
    <form action="@Url.Action("Add")" method="POST">
        <div class="form-group">
            <label for="desc">Description:</label>
            <textarea class="form-control col-md-12" name="description" id="desc" rows="5" autofocus placeholder="Enter your message.."></textarea>
        </div>
        <div class="form-group">
            <label for="duedate">Deadline:</label>
            <input type="datetime-local" class="form-control" name="duedate" id="duedate" />
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>

@{
    if (@Model.Count() < 1)
    {

        <form action="@Url.Action("GenerateData")" method="POST">
            <input type="hidden" value="25" name="count" />
            <input type="submit" class="btn btn-success" value="Generate random data">
        </form>
    }

    else
    {
        <div id="ticketTableWrapper">
            <h3>@Model.Count() Active Ticket(s)</h3>
            <table class="table table-hover">
                <tr>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Entry Date</th>
                    <th></th>
                </tr>
                <tbody>

                    @foreach (var ticketVM in Model)
                    {
                        <tr class="@ticketVM.CssClassName">
                            <td>
                                @ticketVM.Description
                            </td>
                            <td>
                                @ticketVM.DueDate
                            </td>
                            <td>
                                @ticketVM.EntryDate
                            </td>
                            <td>
                                <form action="@Url.Action("MarkSolved")" method="POST">
                                    <input type="hidden" value="@ticketVM.Id" name="id" />
                                    <input type="submit" class="btn btn-success" value="Mark Solved">
                                </form>
                            </td>
                        </tr>

                    }
            </table>
        </div>
        }
    }